<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="healthbuzz" connectionString="server=MBIUATDB08;Initial Catalog=HealthBuzz_Cigna;User ID=hbadmin;Password=h6@dm!n@20252025;Timeout=300" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="UserId" value="REG"/>
		<add key="Password" value="Password@2025"/>
		<add key="AuthUrl" value="http://10.129.5.239/HBClaim_UAT_API/api/Login/Authenticate"/>
		<add key="DataPostUrl" value="http://10.129.5.239/HBClaim_UAT_API/api/ProductConfig/SaveProductConfig"/>		
	</appSettings>
</configuration>