################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductCRMAPI/FileContentIndex/2ace37c3-7188-4810-8757-b8cbad664c6f.vsidx
/.vs/ProductCRMAPI/FileContentIndex/3101df76-a8d4-4d78-bc18-3a8cf3b50e83.vsidx
/.vs/ProductCRMAPI/FileContentIndex/499233bd-996f-4580-af21-231d5b3a7b42.vsidx
/.vs/ProductCRMAPI/FileContentIndex/385bd413-d65d-404f-8465-623232952069.vsidx
/.vs/ProductCRMAPI/FileContentIndex/9533561a-22f7-43bc-ae39-57f7b95d09de.vsidx
/.vs/ProductCRMAPI/FileContentIndex/959390e6-9706-4f12-b7cd-acb56407013e.vsidx
/.vs/ProductCRMAPI/FileContentIndex/1563d019-99ca-42fe-b8f6-299d43fecf8a.vsidx
